
.body{
zoom:40%;
}
.ventana{
  width: 90%;
  text-align: center;
  border: black;
 border-radius: 3vh;
  border-style: solid;
  margin-left: 5%;
  margin-top: 10vh;
  margin-bottom: 4vh;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Hace scrollbar transparente*/
}
table > tbody:empty {
  position: relative;
  display: table-caption;
  caption-side: bottom;
  min-height: 45px;
  background-color: rgb(21, 68, 80);
  text-align: center;
}
table > tbody:empty:before {
  content: 'SIN REGISTROS';
  color: rgb(221, 208, 208);
  position: absolute;
  font-size: 3vh;
  left: 0;
  right: 0;
  top: 70%;
  transform: translateY(-50%);
}
